:root {
  /* Colores */
  --primary-color: white;
  --secondary-color: #df9aaf;
  --warning-color: #89dda4;
  --light-bg: #6d1940;
  --dark-bg: #7a1a78;
  --darker-bg: #050504;
  --celeste: #2bc8b3;
  --rosaoscuro: #c32987;
}

html, body {
  background: var(--primary-color);
  font-family: 'Nunito', 'Lexend' sans-serif;
  height: 100%;
  margin: 0px;
}

.logo {
  width: 50px;
  display: inline-block;
}

header {
  background: var(--secondary-color);
  padding-top: 5px;
  width: 100%;
  top: 0%;
  display: grid;
  grid-template-columns: auto;
  z-index: 1000;
} 

nav {
  text-align: right;
  margin-right: 10px;
  font-size: 20px;
}

nav a {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700px;
  text-decoration: none;
  margin-right: 5px;
}

ul {
  position: absolute;
  top: 20px;
  right: 20px;
  list-style: none;
  font-size: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0px 20px;
  font-size: 14px
}

ul li ul {
  display: none;
}

ul li:hover ul {
  z-index: 1;
  display:block;
  padding-top: 30px;
  right: 300px;
}

nav a:hover {
  color:var(--light-bg);
}

.boton-personalizado {
  font-size: 15px;
  color: black;
  padding: 15px;
  background-color: rgb(248, 110, 248);  
  transition: al 0.5s;
  border-radius: 25px;
}

.boton-personalizado:hover {
  background-color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.buttonEliminarProducto{
  font-size: 15px;
  color: black;
  padding: 15px;
  background-color: rgb(248, 110, 248);  
  transition: al 0.5s;
  border-radius: 25px;
}


.bigTitle {
  color: var(--primary-color);
  font-size: 100px;
  font-family: 'Lexend', sans-serif;
}

#hero {
  background-image: url("../CSS/images/muffinbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

/* Sobre Nosotros */
#sobreNosotros {
  padding: 50px;
  text-align: center;
  display: none;
}

/* CUSTOM - SECTION
Para usar en las nuevas sections*/
.custom-section {
  padding: 40px 20px 40px 20px;
}

/* Centros */
.center-text {
  text-align: center;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  margin: 20px auto;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  position: relative;
}
.btn::before {
  -webkit-transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: '';
  width: 50%;
  height: 100%;
  background: #CD7BAC;
  position: absolute;
  top: 0;
  left: 0;
}
.btn .btn-text {
  color: #6d1940;
  mix-blend-mode: difference;
}
.btn:hover::before {
  background: pink;
  width: 100%;
}

/* Shop */
.card {
margin: 10px auto;
padding: 20px;
background-color: pink;
border: 1px solid #b102b1;
justify-content: space-around;
}

.cardConteiner {
height: 10rem;
display: flex;
justify-content: center;
align-items: center;
}

/*Footer*/
#footer .footer-top {
  background: #CD7BAC;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  color: var(--light-bg);
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background:var(--light-bg);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #CD7BAC;
  color: var(--primary-color);
}

#footer .footer-top h4 {
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  color: var(--light-bg);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 10px;
}

/* ELEMENTOS */
.test-row {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}